.Link{
    text-decoration-line: none;
    border: 1px solid #ccc;
    background-color: rgb(145, 25, 25);
    color:white;
    padding: 15px ;
    margin: 15px;
    font-weight: bold;
    width:33%;
    flex-flow: row;
    text-align: center;
}
.Form{
    display:flex;
    flex-flow: column;
    width: 40%;
    margin-left: 20px;
    margin-top: 20px;
}
.Form TextField{
    background-color: rgb(145, 25, 25);
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 15px;
    margin: 15px;
    font-weight: bold;
    width:inherit

}
.Img {
    height: 50%;
    width:50%;
}


